<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SequestBioApp.styles.css" />

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <HeadContent>
        <link href="_content/Radzen.Blazor/css/default.css" rel="stylesheet" />
    </HeadContent>

    <BodyContent>
        <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    </BodyContent>

</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
